*{
  margin:0;
  padding:0;
}

#nav-bar{
  max-width:1600px;
  height:92px;
  border:2px solid rgba(137, 43, 226, 0.123);
  margin:0 auto;
  background-color: #1A0B2E;
}

.nav-item{
 display: flex;
 align-items: center;
 justify-content: space-between; 
}

.text-item{
  display: flex;
  align-items: center;
}

.nav-item a{
  text-decoration: none;
  width:218px;
  height:19px;
  font-size:1rem;
  color:white;
}

.text-item h1{
  width:219px;
  height:32px;
  padding:30px 314px 30px 200px;
}
.text-item .nav-color{
  color:#FB09B4;
}

.white-clo{
  color:white ;
}

.nav-item button{
  width:135px;
  height:44px;
  font-size:19px;
  background-color: #FB09B4;
  border-radius:10000px;
  border-style:none;
  color:white;
  padding:12px;
  margin-right:240px;
  
}

#banner{
  width:1600px;
  height:760px;
  background-image: url(../assets/hero-bg.png);
  margin:0 auto;
  
 
}

#banner img {
  display: flex;
  padding:101px 525px 101px 625px;
  image-rendering:url(../a);
} 
.main-img{
  margin:0 auto;
  padding-left:20px;
  background-image: url(../assets/hero-circle.png);
  background-repeat:no-repeat ;
  background-position-x:450px;
  background-position-y:40px ;
}

#banner h3{
  width:350px;
  height:73px;
  font-size:60px;
  color: #FFFFFF;
  margin-top:20px;
  display: flex;
  margin-left:650px;
  margin-bottom:8px;
}

#banner p{
  width:550px;
  height:19px;
  font-size:19px;
  color: #FFFFFF;
  display: flex;
  margin:0 auto;
  margin-bottom:24px;
}

#banner .button-item{
  width:356px;
  display: flex;
  height:50px;
  margin:0 auto;  
  /* border: 2px solid red; */
}
 .button-item button{
  width:200px;
  height:44px;
  row-gap:200px;
  display: flex; 
  padding:12px 20px 12px 48px;
  border-radius:10000px;
  background-color:#FB09B4;
 }

  .button-item .color{
   width:147px; 
   height:44px;
  }


 .button-item span{
  width:147px;
  height:44px;
  
 }

 .main-item{
  max-width:1600px ;
  height:646px;
  padding-right:1010px ;
  background-color:#1A0B2E;
 }

 .main-item h2{
  width:1200px;
  height:58px;
  font-size:48px;
  color: #FFFFFF;
  padding: 0px 470px;
  display:flex;
  margin-left:170px;
 }

 .main-item p {
  width:900px;
  height:148px;
  padding:0px auto;
  flex-wrap: wrap;
  margin-top:20px;
  margin-left:450px;
  color: #FFFFFF;
  font-size:16px;

 }

 .number-item{
  width:1200px;
  height:94px;
  display: grid;
  color: #00FF88;
  font-size:48px;
  margin-left:330px;
  grid-template-columns: repeat(4,1fr);
 }

 @media screen and (max-width:576px) {
  #nav-bar{
    display:flex;
  }
 }